<!doctype html>
<title>{% block title %} Translator Indonesia & Sunda {% endblock %} </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body class="page">
    <header class="header">
        <b>Translator</b><br>
        <b>Indonesia & Sunda</b><br>
    </header>
    <main class="mainContent">
        <form method="POST" action="/" enctype="multipart/form-data">
            <div class="inputPart">
                <div class="optionMenu">
                    <div class="optComponent">
                        Language Mode:
                        <select name="mode">
                            <option value="indo-sunda"> Indonesia to Sunda </option>
                            <option value="sunda-indo"> Sunda to Indonesia </option>
                        </select>
                    </div>
                    <div class="optComponent">
                        Method:
                        <select name="method">
                            <option value="kmp"> Knutt-Morris-Pratt Algorithm </option>
                            <option value="bm"> Boyer-Moore Algorithm </option>
                            <option value="regex"> Regular Expression </option>
                        </select>
                    </div>
                    <button class="optComponent"> Translate </button>
                    <div class="optComponent">
                        <input type="checkbox" name="tehOpt" value="yes" />
                        Adding "teh" word in "Indonesia to Sunda" mode (Beta)
                    </div>
                </div>
                <div class="inputText">
                    <textarea class="text" type="text" name="text">
                        {{ initInput }}
                    </textarea>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="resultPart">
                <textarea class="text" type="text" name="text" readonly>
                    {{ result }}
                </textarea>
            </div>
        </form>
    </main>
</body>